@charset "utf-8";


html {
  box-sizing: border-box;
}

body {
  background-color: #547f9c;
}

.header {
  height: 20px;
  background-color:blueviolet;
  margin-top: 0;
}

 .flex-container { 
   display:flex;
}

  section, aside {
   height: 50px;
   width: 70px;
   background-color: white;
   padding:20px;
   border-radius: 12px;
   
}

.left {
  float:left;
  width: 50%;
  background-color: tomato;
}

.right {
  float: right;
  width: 50%;
  background-color: white;
}

